<!-- namespace EventsController -->
<section class="col l12 white-bg">
    <div class="container row">
        <section class="col s12 l4">
            <section class="col s12">
                <p class="search-label">my events</p>
            </section>
            <section class="input-field col s12">
                <input id="search-box" type="search" class="search-field">
                <label for="search-box">Пошук по ключовим словам або тегам</label>
            </section>
        </section>
        <section class="col s12 l7">
            <ul class="tabs sorting-menu">
                <li class="tab col s2 disabled"><a href="#">відсортувати по:</a></li>
                <li class="tab col s2"><a href="#" class="active">даті створення</a></li>
                <li class="tab col s2"><a href="#">кількості фото</a></li>
                <li class="tab col s2"><a href="#">кількості учасників</a></li>
                <li class="tab col s2"><a href="#">алфавіту</a></li>
            </ul>
        </section>
    </div>
    <div class="container row">
        <section class="event-box col s12 m6 eff effect" ng-repeat="event in ctrl.events" style="padding-bottom: 6px;">
            <img style="height: 354px;" ng-src="api/v1/photos/{{event.photos[0]}}/file" alt="event" class="event">
            <!--<img ng-src="img/event.jpg" alt="event" class="event">-->

            <div class="status-bar-up row">
            <p class="timestamp col s10" style="margin-top: 14px;">{{event.date | date: 'MM/dd/yyyy'}} - {{::event.photos.length}} photos</p>

                <p class="status col s2" style="margin-top: 14px;">Open</p>
            </div>
            <div class="status-bar-down row">
                <p class="timestamp col s12" style="margin-top: 14px;">{{::event.description}}</p>
            </div>
            <div class="caption row">
                <div style="padding: 15px 25px; color: white; text-align: right;">
                    <a style="color: white"
                       class="pull-right"
                       href="#"
                       type="button"
                       ui-sref="home.events.edit({id: event.event_id})">
                        <i class="fa fa-edit fa-2x"></i>
                    </a>
                </div>
                <h4 class="col s12" style="margin-top: 60px;">Переглянути фотоальбом</h4>
                <a class="view-more-btn"
                   href="#"
                   title="View More"
                   type="button"
                   ng-click="$event.preventDefault(); ctrl.showCarousel($event, event, event.photos)"></a>

                <p class="col s12">Boombox 10 years concert</p>

                <p class="col s12">Вже 28 червня рівняни зможуть сповна насолодитися творчістю гурту "Бумбокс", який
                    цього року відзначає 10-річний ювілей. Музиканти обіцяють, що концерт у Рівному буде особливим і з
                    сюрпризом. Це стане справжнім святом для усіх фанатів гурту і тих, хто обожнює "живі" виступи.</p>
            </div>
        </section>
    </div>
</section>

