<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="event in ctrl.events">
            <event-preview event="event"></event-preview>
        </div>
    </div>
</div>
<div style="width: 84px; height: 84px; position: fixed; bottom: 0; right: 0;">
    <md-button class="md-fab"
               aria-label="Create event"
               ui-sref="home.events.create"
               style="background-color: #437246;">
        <md-icon md-font-set="material-icons">add_a_photo</md-icon>
    </md-button>
</div>
