<footer>
    <section class="row container">
        <section class="col m4 l6">
            <a href="#" target="_blank">popular events</a>
        </section>
        <section class="col l2">
            <a href="#" target="_blank">api documentation</a>
        </section>
        <section class="col l2">
            <a href="#" target="_blank">developers team</a>
        </section>
        <section class="col s12 l2 logo-bu-box">
            <a href="#" target="_blank" class="logo-bu"></a>
        </section>
    </section>
</footer>
