<section class="hide-on-med-and-up">
    <section class="row">
        <a href="#" class="col s3 logo-small"></a>
        <section class="col s9">
            <p class="main-title-small">friends photos</p>
            <p class="motto-small slogan">easiest way to share common photos with friends</p>
        </section>
    </section>
    <section class="row">
        <a href="#" target="_blank" class="col s6 google-play-btn"></a>
        <a href="#" target="_blank" class="col s6 app-store-btn"></a>
    </section>
</section>

<section class="user-menu-container">
    <section class="row">
        <section class="row">
            <section class="container row">
                <div ui-view="usermenu">
                    <signin></signin>
                </div>
                <div class="hide-on-small-only col m6 l9">
                    <div class="logo col l6"></div>
                    <div class="applications col l6">
                        <div class="row">
                            <a href="#" target="_blank" class="google-play-btn col s12 l4"></a>
                            <a href="#" target="_blank" class="app-store-btn col s12 l4"></a>
                        </div>
                        <div class="row">
                            <p class="main-title col l12">friends photos</p>
                            <p class="motto col l12">easiest way to share common photos with friends</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>
