<section class="col l12 white-bg">
    <section class="row container">
        <section class="col l4 ">
            <img src="img/message.png" alt="" class="message-box z-depth-2">
        </section>
        <section class="col l8">
            <h4 class="text-caption">Більше не потрібно скидати фото</h4>

            <p class="text-body">Вам знайома ситуація, коли на наступний день після якоїсь події вам приходить купа
                повідомлень від друзів з проханням скинути фото? Або навпаки, хтось з ваших друзів зробив круту фотку з
                вами і не скидає її вам? Завантажте FriendsPhotos і забудьте про це!</p>
        </section>
    </section>
    <section class="container row">
        <section class="col l6">
            <section class="col m6 l6">
                <img src="img/phone.png" alt="phone">
            </section>
            <section class="col m6 l6 description">
                <h4 class="text-caption">1. Завантаж</h4>

                <p class="text-body">Зараз friends phones доступний лише для Android, але ми активно працюємо над
                    версією для iPhone</p>
            </section>
        </section>
        <section class="col l6">
            <section class="col m6 l6">
                <img src="img/phone.png" alt="phone">
            </section>
            <section class="col m6 l6 description">
                <h4 class="text-caption">2. Створи подію</h4>

                <p class="text-body">Ми подбали про захист ваших фото! Різні рівні приватності дозволять поділитися
                    вашими фото лише з тими, з ким ви хочете</p>
            </section>
        </section>
    </section>
    <section class="container row">
        <section class="col l6">
            <section class="col m6 l6 description">
                <h4 class="text-caption">3. Запроси друзів</h4>

                <p class="text-body">Запросити друзів можна декількома способами: сказати їм ID події, назву події, або
                    ж просто запросити через додаток</p>
            </section>
            <section class="col m6 l2">
                <img src="img/phone.png" alt="phone">
            </section>
        </section>
        <section class="col l6">
            <section class="col m6 l6 description">
                <h4 class="text-caption">4. Фотографуй :)</h4>

                <p class="text-body">Додавай фотографії до події і вони автоматично з'являться у друзів! Також фото
                    можна переглянути та завантажити з сайту</p>
            </section>
            <section class="col m6 l2">
                <img src="img/phone.png" alt="phone">
            </section>
        </section>
    </section>
</section>
