<div class="login-box">
    <h3 class="padding-15">Login to your account:</h3>

    <form name="loginForm" class="login-form padding-15">
        <md-input-container class="md-block">
            <label>E-mail</label>
            <input ng-model="user.address">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Password</label>
            <input ng-model="user.address">
        </md-input-container>

        <p>Or use socials</p>

        <fb:login-button show-faces="true" max-rows="1" size="large"></fb:login-button>
    </form>
</div>
