<div class="pre-form col s12 m4 l3">
    <section class="col s12 user-menu-form">
        <div class="row">
            <p class="user-name" ng-bind="$root.user.username"></p>
            <ul class="user-menu col s12">
                <li><a ui-sref="home.events">My events</a></li>
                <li><a ui-sref="home.events.create">New event</a></li>
                <li><a href="/search.html">Search</a></li>
                <li><a href="/invite.html">Invite friends</a></li>
                <li><a href="/index.html">Sign out</a></li>
            </ul>
        </div>
    </section>
</div>
