<img photo="event.photos[0]" ng-click="showCarousel($event, event, event.photos, 0)">
<div class="event-name">
    <span ng-bind="event.name"></span>
    <a class="pull-right" ui-sref="home.events.edit({id: event.event_id})">
        <i class="fa fa-edit"></i>
    </a>
</div>
<div class="event-info">
    <i class="fa fa-users"></i> <span ng-bind="event.photos.length"></span>
    <i class="fa fa-calendar"></i> <span ng-bind="event.date | date"></span>
    <div class="pull-right">
        <i class="fa fa-user-plus"></i>
    </div>
</div>
